APP_NAME="Oracle"
APP_URL="http://localhost/oracle"
DB_HOST="127.0.0.1"
DB_PORT="3306"
DB_DATABASE="oracle_db"
DB_USERNAME="root"
DB_PASSWORD=""
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
GOOGLE_REDIRECT_URI="http://localhost/oracle/auth/google-callback.php"
GOOGLE_HOSTED_DOMAIN=""
SSL_CA_FILE=""
SESSION_NAME="oracle_session"
